
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_VendedoresLayout.cshtml";

}


<h1><center>Stands ativos</center></h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                ID Stand
            </th>
            <th>
                ID Vendedor
            </th>
            <th>
                ID Certame
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Stands) {
        <tr>
            <td>
                @item.IdStand
            </td>
            <td>
                @item.idVendedor
            </td>
            <td>
                @item.idCertame
            </td>
            <td>
                    <a asp-action="Create" asp-controller="Produtos" asp-route-id="@item.IdStand"><button class="btn btn-primary">Adicionar Produto</button></a>
                    <a asp-action="List" asp-controller="Produtos" asp-route-id="@item.IdStand"><button class="btn btn-success">Listar Produtos</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
