@{
    ViewData["Title"] = "Login";
}


@if (ViewBag.Error)
{
    <div class="alert alert-danger" role="alert">
      @ViewBag.ErrorMessage
    </div>
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form method="POST">
                @Html.AntiForgeryToken()
                <h4>Por favor faça login !</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        Email: <br />
                        <input id="email" class="form-control" name="email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Password: <br />
                        <input id="password" class="form-control" type="password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input name="remember" value="1" hidden />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-primary mb-2" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Registe - se", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality *@
                <p>
                    @Html.ActionLink("Recuperar senha?", "RecuperarPassword")
                </p>




            </form>
        </section>

    </div>
    <div class="col-md-4">
    </div>
</div>
