@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1><center>Criação de um stand.</center></h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form method="POST">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        Feira: <br />
                        <select class="form-select" name="escolhaFeira" aria-label="Feira">
                            @foreach(var feira in ViewBag.feiras)
                            {
                                <option value="@feira.IdCertame">Feira #@feira.IdCertame</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Vendedor: <br />
                        <select class="form-select" name="escolhaVendedor" aria-label="Feira">
                            @foreach (var vendedor in ViewBag.vendedores)
                            {
                                <option value="@vendedor.Id">Vendedor @vendedor.nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group"> <br />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>


        </section>

    </div>
    <div class="col-md-4">
    </div>
</div>
