@model IEnumerable<Feira_Facil.Models.Empresa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1><center>Empresas registadas</center></h1>
<br />
<center>
    <a href='@Url.Action("Create", "Empresas")'><button class="btn btn-primary">Adicionar</button></a>
</center>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactos)
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="Empresas" asp-route-id="@item.IdEmpresa"><button class="btn btn-primary">Editar</button></a> 
                    <a asp-action="Delete" asp-controller="Empresas" asp-route-id="@item.IdEmpresa"><button class="btn btn-danger">Remover</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
