@model IEnumerable<Feira_Facil.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1><center>Utilizadores registados</center></h1>
<br />
<center>
    <a href='@Url.Action("Create", "Users")'><button class="btn btn-primary">Adicionar</button></a>
</center>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="Users" asp-route-id="@item.Id"><button class="btn btn-primary">Editar</button></a>  
                    <a asp-action="Delete" asp-controller="Users" asp-route-id="@item.Id"><button class="btn btn-danger">Remover</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
